@model BL.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row text-center">
        <h2>Lista de usuarios registrados</h2>
        <a class="btn btn-success" href="@Url.Action("Form","Usuario")">Agregar Usuario</a>
    </div>
</div>
<hr />
@if (Model.Usuarios != null)
{
    <div class="container">
        <div class="row">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Actualizar</th>
                        <th class="text-center">Nombre de usuario</th>
                        <th class="text-center">Rol</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Apellido Paterno</th>
                        <th class="text-center">Apellido Materno</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BL.Usuario usuario in Model.Usuarios)
                    {
                        <tr class="text-center">
                            <td><a class="btn btn-warning" href="@Url.Action("Form", "Usuario", new { IdUsuario = usuario.IdUsuario })"><span class="glyphicon glyphicon-pencil"></span> </a></td>
                            <td>@usuario.UserName</td>
                            <td>@usuario.Rol.Tipo</td>
                            <td>@usuario.Email</td>
                            <td>@usuario.Nombre</td>
                            <td>@usuario.ApellidoPaterno</td>
                            <td>@usuario.ApellidoMaterno</td>
                            <td><a class="btn btn-danger" href="@Url.Action("Delete", "Usuario", new { IdUsuario = usuario.IdUsuario })"><span class="glyphicon glyphicon-trash"></span> </a></td>       
                        </tr>
                    }
                    </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h2>No hay registros</h2>
}
