<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MSandoval", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @{
                        var rol = Context.Session["Rol"] as string;
                        var idUsuario = Context.Session["IdUsuario"];
                    }

                    @if (rol != null || rol != "Usuario")
                    {
                        <li>@Html.ActionLink("Paquetes", "Cards", "Paquete")</li>
                        if (rol == "Administrador")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Repartidor</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("Perfil","Repartidor")">Perfil</a><br />
                                    <a class="dropdown-item" href="@Url.Action("Entregas","UnidadEntrega")">Mis entregas</a><br />
                                    <a class="dropdown-item" href="@Url.Action("MiUnidad", "Usuario")">Mi unidad</a><br />
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("GetAll","Repartidor")">Repartidores</a><br />
                                    <a class="dropdown-item" href="@Url.Action("GetAll","UnidadEntrega")">Unidades</a><br />
                                    <a class="dropdown-item" href="@Url.Action("GetAll","Usuario")">Usuarios</a><br />
                                </div>
                            </li>
                        }
                        else if (rol == "Repartidor")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Repartidor</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("Perfil","Repartidor")">Perfil</a><br />
                                    <a class="dropdown-item" href="@Url.Action("Entregas","Repartidor")">Mis entregas</a><br />
                                    <a class="dropdown-item" href="@Url.Action("MiUnidad", "Repartidor", new {IdUsuario=idUsuario})">Mi unidad</a><br />
                                </div>
                            </li>
                        }
                        <li>@Html.ActionLink("Iniciar sesión", "Login", "Usuario")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
